<%= form_with(model: event, url: @path, local: true, multipart: true) do |form| %>
  <% if event.errors.any? %>
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
      <h2><%= pluralize(event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% event.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>

  <% end %>

  <div class="field">
    <%= form.label :start_date %>
    <%= form.datetime_select :start_date, class: 'form-control' %>
  </div>

  <div class="field">
    <%= form.label :duration %>
    <%= form.number_field :duration, min: 5, :step => 5, class: 'form-control' %>
  </div>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title, class: 'form-control' %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description, class: 'form-control' %>
  </div>

  <div class="field">
    <%= form.label :price %>
    <%= form.number_field :price, within: 1...1000, class: 'form-control' %>
  </div>

  <div class="field">
    <%= form.label :location %>
    <%= form.text_field :location, class: 'form-control' %>
  </div>

  <div class="field">
    <%= form.label :administrator_id %>
    <%= form.collection_select :administrator_id, User.order(:first_name),:id,:name%>
  </div>

  <br>
  <div class="field">
    <%= file_field_tag :event_image%>
  </div>
  <br>

  <div class="field">
    <label for="validated">Cet événement est-il validé? </label><br>
    <%= form.check_box :validated,{}, true, false %> <br />
  </div>

  <div class="actions d-flex justify-content-center">
    <%= form.submit 'Soummettre', class: 'btn btn-outline-dark'%>
  </div>
<% end %>






