<div id="carouselExampleIndicators" class="carousel slide position-relative mb-5 pb-5" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
        <div class="carousel-item active">
        <%= image_tag "carousel/cheers-839865_1280.jpg", class: "d-block vw-100 vh-100", alt: "First slide", style: 'object-fit: cover;'  %>
        </div>
        <div class="carousel-item">
        <%= image_tag "carousel/concert-768722_1280.jpg", class: "d-block vw-100 vh-100", alt: "Second slide", style: 'object-fit: cover;'   %>
        </div>
        <div class="carousel-item">
        <%= image_tag "carousel/meeting-2284501_1280.jpg", class: "d-block vw-100 vh-100", alt: "Third slide", style: 'object-fit: cover;'   %>
        </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

<div class="container d-flex justify-content-around align-items-end position-relative", style="margin-top: -10rem !important; z-index: 2;" >
    
    <% if user_signed_in? %>
        <%= link_to 'Create your Event', new_event_path, :class => "btn btn-primary btn-lg" %>   
    <% else %>
        <%= link_to 'Sign in', new_user_session_path, :class => "btn btn-primary btn-lg" %>   
    <% end %>
    
    <%= link_to 'See All Events', "#index", :class => "btn btn-primary btn-lg" %>   
</div>
