    <% if administrator?(event) %>
      <% text = 'Vous administrez cet événement' %>
    <% elsif participant?(event) %>
      <% text = 'Vous participez à cet événement' %>
    <% else %>
      <% text = 'Découvrez cet événement' %>
    <% end %>


<div class="card text-white bg-secondary m-3" style="max-width: 20rem;">
    <%= link_to event do  %>
        <%if event.event_image.attached?%>
        <%= image_tag(event.event_image, :alt => "event image", style: "width: 20em;height: 12.5em;") %> 
        <%else%>
        <p>=== Il n'y a pas encore d'event_image lié à cet événement ===</p>
        <%end%>           
    <% end %>
    <div class="card-header"><%=text%></div>
    <div class="card-body">
        <h4 class="card-title"><%=event.title%></h4>
        <p class="card-text"><%= event.description %></p>
    </div>
</div>