<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <%= link_to 'Event Brite', root_path, :class => "navbar-brand" %>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
        <% if user_signed_in? %>
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <%= link_to 'Mon compte', current_user, :class => "nav-link" %>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Mes événements</a>
                </li>
            </ul>
        <% else %>
            <span class="navbar-text mr-auto">Vous n'êtes pas connecté</span>
        <% end %>
        <div class="navbar-nav">
            <ul class="navbar-nav">
                <% if user_signed_in? %>
                    <li class="nav-item active">
                        <%= link_to "Sign out", destroy_user_session_path , method: :delete, class: "nav-link" %>
                    </li>
                <% else %>
                        <li class="nav-item active">
                            <%= link_to "Sign in", new_user_session_path, class: "nav-link" %>
                        </li>
                        <li class="nav-item active">
                            <%= link_to "Sign up", new_user_registration_path, class: "nav-link" %>
                        </li>
                <% end %>  
            </ul>
        </div>
    </div>
</nav>
